__pycache__/
.DS_Store
data/*
!data/.gitkeep
results/*
!results/.gitkeep

*.png
*.ipynb

logs/*
!logs/.gitkeep

# virtual environment
venv/
venv*/
*env/

# configuratin file
!config.toml
configs/*

# testing files
test.py
